<button>hii</button>
<input type="text" />username
<table id="tabeldata">
    <thead style="background-color:cornflowerblue">
        <tr>
            <th style="visibility:hidden">ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>EMAIL</th>
            <th>PHONE NO</th>
            <th>DATE OF BIRTH</th>
            <th>GENDER</th>
            <th>LANGUAGE</th>
            <th>ADDRESS</th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>