
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Homelayout.cshtml";
}

<html  style="background-image: url('../../Images/Backgrounds-image - Copy.jpg'); ">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <style>
        .row {
            padding: 10px;
            width: 450px;
        }

        .Width150px {
            width: 100px;
            display: inline-block;
        }

        #tabeldata tr:nth-child(even) {
            background-color: darkgrey;
        }
    </style>
    <script>
        $(document).ready(function () {
            alert("document");

            //loaddata();
            //$("#tabeldata td:odd").css("background-color", "LightGray");
            //$("table#tabeldata tr:even").css("background-color", "LightBlue");
            $("#Regsister").click(function () {

                Insertdata();
                display();


            });
        });

            
        //function func() {
        //    $('#navigate').click(function () {
        //        alert("nagivage hii");
        //        debugger;
        //        alert("navigation");
        //        //$.ajax({
        //        //    url: 'Home/displaydata',
        //        //    type:'GET',

        //        //    //success: function (result) {
        //        //    //    alert("success");
        //        //    //}

        //        //});
        //            $.ajax({
        //                type: "GET",
        //                url: "/Home/displaydata",
                     
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                success: function (response) {
        //                    alert("success");
        //                },
        //                failure: function (response) {
        //                    alert(response.responseText);
        //                },
        //                error: function (response) {
        //                    alert(response.responseText);
        //                }
        //            });
        //        });


            
        //};


        //Display the all user data
        function loaddata() {
            debugger;
            $.ajax({
                // url: "/Home/Diplay",
                url: '@Url.Action("Display_userdetails", "Home")',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result.length > 0) {


                        $("#tabledata").css({ "visibility": "visible", "background-color": "yellow", "font-size": "200%," });

                        var dynamichtml = '';
                        $.each(result, function (key, item) {
                            debugger;
                            if (item.dateofbirth != null) {
                                var dt = new Date(parseInt(item.dateofbirth.replace('/Date(', '')));
                                var dtfinal = AddLeadingZeros(dt.getFullYear(), 4) + '/' +
                                    AddLeadingZeros(dt.getMonth() + 1, 2) + '/' + AddLeadingZeros(dt.getDate(), 2)
                            }
                            dynamichtml += '<tr>';
                            dynamichtml += '<td style="visibility:hidden">' + item.id + '</td>';
                            dynamichtml += '<td>' + item.name + '</td>';
                            dynamichtml += '<td>' + item.password + '</td>'; dynamichtml += '<td>' + item.email + '</td>'; dynamichtml += '<td>' + item.phno + '</td>';
                            dynamichtml += '<td>' + dtfinal + '</td>'; dynamichtml += '<td>' + item.gender + '</td>';
                            dynamichtml += '<td>' + item.language + '</td>'; dynamichtml += '<td>' + item.address + '</td>';
                            dynamichtml += '</tr>';
                        });

                        $('.tbody').html(dynamichtml);
                    }
                },

                error: function (errormessage) {
                    alert(errormessage.responseText);
                }


            });
            function AddLeadingZeros(number, size) {
                var s = "0000" + number;
                return s.substr(s.length - size)
            }
        };

        //insert new user data.
        function Insertdata() {
            debugger;
            var _reguserdata = {}
            _reguserdata.id = $('#txtid').val();
            _reguserdata.name = $('#txtname').val();
            _reguserdata.password = $('#txtpwd').val();
            _reguserdata.email = $('#txtemail').val();
            _reguserdata.phno = $('#txtphno').val();
            _reguserdata.dateofbirth = $('#txtdate').val();
            _reguserdata.gender = $("input[name='Gender']:checked").val();
            _reguserdata.address = $.trim($('#txtaddress').val());
            var chk = $('input[type="checkbox"]:checked');
            if (chk.length > 0) {
                var chklanguage = "";
                chk.each(function () {
                    chklanguage += $(this).val() + ",";
                });
            };
            alert(chklanguage + ",");
            _reguserdata.language = chklanguage;



            $.ajax({
                url: '@Url.Action("indert_data", "Home")',
                // url: "/Home/indert_data",
                type: "POST",
                data: JSON.stringify(_reguserdata),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result, status, xhr) {
                    alert("success");
                    loaddata();
                    display();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }

            });
            debugger;
            loaddata();
        }

        function display() {
          
                $.ajax({
                    type: "GET",
                    url: "/Home/displaydata",
                   
                    contentType: "application/json; charset=utf-8",
                 
                    success: function (response) {
                        alert("success");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
           
        };


    </script>

</head>


<body style="background-color:white;">
    <div>
        <nav style="float:right">
            <select>
                <option>--select--</option>
            </select>
        </nav>

        <form>
            <h2 style="background-color:ghostwhite;text-align:center; float:left">REGISTRATION FORM</h2>
            <div style="border:groove;*background-color:powderblue" *@>
                <div class="row" style="visibility:hidden">
                    <label for="id" class="Width150px"><strong>ID:</strong><span style="color:red;"> *</span></label>
                    <input type="text" id="txtid" />
                </div>
                <div class="row">
                    <label for="FullName" class="Width150px"><strong>FullName:</strong><span style="color:red"> *</span></label>
                    <input type="text" id="txtname" />
                </div>
                <div class="row">
                    <label for="Pwd" class="Width150px"><strong>PassWord:</strong><span style="color:red"> *</span></label>
                    <input type="password" id="txtpwd" />
                </div>
                <div class="row">
                    <label for="Email" class="Width150px"><strong>Email:</strong><span style="color:red"> *</span></label>
                    <input type="text" id="txtemail" />
                </div>
                <div class="row">
                    <label for="PHNO" class="Width150px"><strong>PHNO:</strong><span style="color:red"> *</span></label>
                    <input type="text" id="txtphno" />
                </div>
                <div class="row">
                    <label for="Date" class="Width150px"><strong>Date OF Birth:</strong><span style="color:red"> *</span></label>
                    <input type="date" id="txtdate" />
                </div>

                <div class="row">
                    <label for="Gender" class="Width150px"><strong>Gender:</strong><span style="color:red"> *</span></label>
                    <input type="radio" id="male" name="Gender" value="MALE" />MALE
                    <input type="radio" id="Female" name="Gender" value="Female" />FEMALE
                </div>
                <div id="mydiv" class="row">
                    <label for="Gender" class="Width150px"><strong> Language:</strong></label>
                    <input type="checkbox" name="Language" value="DEVELOPER" />DEVELOPER
                    <input type="checkbox" name="Language" value="DESIGNER" />DESIGNER
                    <input type="checkbox" name="Language" value="TESTER" />TESTER


                </div>
                <div class="row">
                    <label for="Address" class="Width150px"><STRONG>Address:</STRONG></label>
                    ​<textarea id="txtaddress" rows="5" cols="30"></textarea>
                </div>
                <div class="row">

                    <input type="submit" id="Regsister" />
                    <input type="submit" value="navigation" id="navigate" />
                </div>
            </div>
        </form>
    </div>

    <table id="tabeldata" style="display:none;width:70%">
        <thead style="background-color:cornflowerblue">
            <tr>
                <th style="visibility:hidden">ID</th>
                <th>NAME</th>
                <th>PASSWORD</th>
                <th>EMAIL</th>
                <th>PHONE NO</th>
                <th>DATE OF BIRTH</th>
                <th>GENDER</th>
                <th>LANGUAGE</th>
                <th>ADDRESS</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

</body>
</html>